html {
  height: 100vh; }

body {
  width: 100%;
  height: 100vh; }

nav {
  margin-bottom: 2rem; }

#notification-toast {
  position: absolute;
  top: 10%;
  right: 40%;
  z-index: 50; }
  #notification-toast .toast-header {
    justify-content: space-between; }
    #notification-toast .toast-header img {
      height: 32px;
      width: 64px; }

.cardCars {
  display: flex;
  justify-content: space-evenly;
  font-style: italic;
  margin-left: initial; }

.cardMargin {
  margin-bottom: 2rem; }

.card-img-top {
  height: 190.42px; }

.btn-primary {
  background: linear-gradient(45deg, #01233f, #9a0606);
  border-color: #01233f; }

.header {
  color: #01233f;
  font-size: 27px;
  padding: 10px; }

.bigicon {
  font-size: 35px;
  color: #01233f;
  border: #9a0606; }

.form-group {
  display: flex;
  justify-content: center;
  align-items: center; }

@media only screen and (max-width: 768px) {
  .form-group {
    display: flow-root; } }

#staticBackdrop .modal-body #username {
  margin-left: 2rem; }

#staticBackdrop .modal-body #password {
  margin-left: 5px; }

.cart-item-name {
  display: flex;
  flex-direction: row; }
  .cart-item-name i {
    margin-right: 5px;
    cursor: pointer; }

.incoming {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8) url("../assets/loader.gif") center no-repeat; }

/* Turn off scrollbar when body element has the loading class */
body.loading {
  overflow: hidden; }

/* Make spinner image visible when body element has the loading class */
body.loading .overlay {
  display: block; }
